@font-face {
    font-family: "Gotham";
    src:url('../contents/fonts/Gotham/GothamBook.ttf')  format('truetype');
    src:
    url("../contents/fonts/Gotham/Gotham-Black.otf") format("opentype"),
}
:root{
    --primary-color:#1b215a;
    --secondary-color:#DE0202;
    --font:Gotham, Arial, sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    cursor: url('../contents/a\ \(2\).jpg') , auto;
}

.stiky-location{
    width: 100%;
    height: fit-content;
    padding: 20px 20px;
    background-color: var(--primary-color);
    font-size: 14px;
    z-index: 9;
    /* box-shadow: #666 0px 12px 12px -5px; */
    text-align: center;
    color: white;
    font-family: var(--font);
    position: fixed;
    top: 0%;
    left: 0%;
}
.stiky-location button{
    height: 30px ;
    width: fit-content;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
    border-radius: 25px;
}
header{
    background-color: #fff;
    height: 100px;
    width: 100%;
    box-shadow: 0px 2px 12px -5px #666;
    cursor: auto;
    position: relative;
    top: 70px;
}
.header{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.mobile-hambuger{
    height: fit-content;
    width: fit-content;
    display: none;
}

.menu-wrapper {
    width: 30px;
    height: 35px;
    cursor: pointer;
  }
  
  .hamburger-menu,
  .hamburger-menu:after,
  .hamburger-menu:before {
    width: 35px;
    height: 3px;
  }
  
  .hamburger-menu {
    position: relative;
    transform: translateY(25px);
    background: var(--primary-color);
    transition: all 0ms 300ms;
  }
  .hamburger-menu.animate {
    background: rgba(255, 255, 255, 0);
  }
  
  .hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 13px;
    background: var(--primary-color);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    background: var(--primary-color);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
.header-logo{
    width: 10%;
}
.header-logo img{
    height: 80px;
    width: 110px;
}
.header-nav{
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
}
#header-navbar{
    width: 70%;
}
.navbar-ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-li{
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.navbar-li:hover{
    transition: 200ms ease-in-out;
    transform: scale(1.03);
}


@media only screen and (max-width:450px)  {
            
    header{
        background-color: #fff;
        height: 110px;
        width: 100%;
        box-shadow: 0px 2px 12px -5px #666;
        position: relative;
        top: 40px;
    }
    .header{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
    }
    .mobile-hambuger{
        height: fit-content;
        width: 30%;
        display: block;
        margin-top: -15px;
    }
    .header-logo{
        width: 68%;
    }
    .header-logo img{
        height: 90px;
        width: 125px;
    }
    
    .header-nav{
        position: absolute;
        left: -100%;
        top: 110px;
        width: 90%;
        height: calc(100vh - 80px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.199);
        transition: left 300ms ease-in-out;
        z-index: 9999;

    }
    .header-nav.active{
        position: absolute;
        left: 0%;
        top: 110px;
        width: 90%;
        height: calc(100vh - 80px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.199);
        transition: left 300ms ease-in-out;
        z-index: 9999;
    }
    #header-navbar{
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        padding-top: 50px;
        cursor: auto;
    }
    .navbar-ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .navbar-li{
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }
    .navbar-li:hover{
        transition: 200ms ease-in-out;
        transform: scale(1.03);
    }


}

  /* Footer */

  footer{
      height: fit-content;
      width: 100%;
      padding: 20px;
      background-color: var(--primary-color);
      color: #fff;
      font-size: 18px;
      font-weight: bold;
  }

